
<div class="col-md-8 offset-md-3"><h3>Create Student</h3>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>FirstName</label>
        <input type="text" class="form-control" id="firstName"
        [(ngModel)]="student.firstName" name="firstName">
    </div>
    <div class="form-group">
        <label>LastName</label>
        <input type="text" class="form-control" id="lastName"
        [(ngModel)]="student.lastName" name="lastName">
    </div>
    <div class="form-group">
        <label>phoneNumber</label>
        <input type="number" class="form-control" id="phoneNumber"
        [(ngModel)]="student.phoneNumber" name="phoneNumber">
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="number" class="form-control" id="ge"
        [(ngModel)]="student.age" name="age">
    </div>
    <div class="form-group">
        <label>Department</label>
        <input type="text" class="form-control" id="department"
        [(ngModel)]="student.department" name="department">
    </div>
    <div class="form-group">
        <label>Section</label>
        <input type="text" class="form-control" id="section"
        [(ngModel)]="student.section" name="section">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>