<h4>View Student</h4>
<div class="info">
    <div>
        <label>First Name: <b>{{student.firstName}}</b></label>
    </div>
    <div>
        <label>Last Name: <b>{{student.lastName}}</b></label>
    </div>
    <div>
        <label>Phone Number: <b>{{student.phoneNumber}}</b></label>
    </div>
    <div>
        <label>Age: <b>{{student.age}}</b></label>
    </div>
    <div>
        <label>Department: <b>{{student.department}}</b></label>
    </div>
    <div>
        <label>Section: <b>{{student.section}}</b></label>
    </div>
</div>